In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
df_credits = pd.read_csv("movies_dataset.csv")
df_credits.head()

C:\Users\nicon\AppData\Local\Temp\ipykernel_20284\2821601462.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_credits = pd.read_csv("movies_dataset.csv")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [ ]:
df_credits.shape

In [ ]:
# Buscamos ver un panorama general de nuestros datos, tipo de datos, nulos,etc.
df_credits.info()

In [ ]:
# Comenzamos con las transformaciones solicitadas. Vemos que tenemos varias columnas anidadas y debemos desanidarlas y obtener el dato necesario para
# nuestro anÃ¡lisis

import ast
# Creamos la funciÃ³n
def cadena_dicc_objeto(col_dic):
    if pd.isna(col_dic):
       return None
    else:
        return ast.literal_eval(str(col_dic))

In [ ]:
# MÃ©todo apply a funciÃ³n creada mÃ¡s arriba para que funciÃ³n estÃ© aplicando correctamente a columna 'belongs_to_collection'\\n\",\n",
df_credits["belongs_to_collection"] = df_credits["belongs_to_collection"].apply(cadena_dicc_objeto)

In [ ]:
# Cramos una nueva funciÃ³n para extraer el valor de "name" de los registros en la columna 'belongs_to_collection', utilizando la funciÃ³n isintance
# para veriricar que franquicia es una instancia de la clase 'dict' , o sea si es un diccionario.
def extraer_name(franquicia):
    if franquicia is not None:
       if isinstance(franquicia, dict):
          return franquicia.get('name')
    else:
        return None

In [ ]:
# Hacemos un Apply a la columna \"belongs_to_collection\" y creamos una nueva columna 'franquicia_name donde se extraerÃ¡n los nombres.
df_credits['franquicia_name'] = df_credits['belongs_to_collection'].apply(extraer_name)

In [ ]:
df_credits.head(1)

In [ ]:
# MÃ©todo apply a funciÃ³n creada mÃ¡s arriba para que funciÃ³n estÃ© aplicando correctamente a columna 'genres
df_credits["genres"] = df_credits["genres"].apply(cadena_dicc_objeto)

In [ ]:
# UsarÃ© la misma funciÃ³n para extaer los nombre, y crearÃ© una nueva columna donde se extraeran los nombres de los gÃ©neros
def extraer_name(genero):
    if genero is not None:
       if isinstance(genero, list):
          names = [genre['name'] for genre in genero]
          return names
    return None

df_credits['generos'] = df_credits['genres'].apply(extraer_name)

In [ ]:
df_credits.head(1)

In [ ]:
# En esta columna al tener mÃ¡s de un gÃ©nero, nos devuelve los datos como una lista. Entonces creamos una nueva funciÃ³n para poder ver los gÃ©neros
# unidos en una sola cadena separados por coma.
def join_genres(genre_list):
    if genre_list is not None and len(genre_list) > 0:
       return ', '.join(genre_list)
    return None

df_credits['generos_name'] = df_credits['generos'].apply(join_genres)

In [ ]:
# Comprobamos que se ha creado correctamente la nueva columna
df_credits.head(1)

In [ ]:
# TambiÃ©n procederermos a obtener la nueva columnas de las productoras unidas en una sola cadena separadas por comas.
def extraer_name(productora):
    if productora is not None and isinstance(productora,list):
       names = [production['name'] for production in productora]
       return names
    return None

df_credits['productora'] = df_credits['production_companies'].apply(cadena_dicc_objeto).apply(extraer_name)

In [ ]:
df_credits.head(1)

In [ ]:
# Usamos la funciÃ³n para tener las productoras en una sola cadena seperados por coma, y comprobamos
def join_productora(productora_list):
    if productora_list is not None and len(productora_list) > 0:
       return ', '.join(productora_list)
    return None
df_credits['productoras_name'] = df_credits['productora'].apply(join_productora)

df_credits.head(1)

In [ ]:
# MÃ©todo apply a funciÃ³n creada mÃ¡s arriba para que funciÃ³n estÃ© aplicando correctamente a columna 'production_countries'


df_credits["production_countries"] = df_credits["production_countries"].apply(cadena_dicc_objeto)

In [ ]:
# En esta columna extraerÃ© el nombre de los paÃ­ses de las productoras
def dicc_name(countries):
    if countries is not None:
        if isinstance(countries, list):
           names = [production['name'] for production in countries]
           return names
        return None
df_credits['countries'] = df_credits['production_countries'].apply(dicc_name)

In [ ]:
# Creamos una funciÃ³n  para unir los paÃ­ses en una sola cadena seperados por coma y comprobamos la nueva columna
def join_countries(paises_list):
    if paises_list is not None and len(paises_list) > 0:
       return ', '.join(paises_list)
    return None

df_credits['countries_name'] = df_credits['countries'].apply(join_countries)

df_credits.head(1)

In [ ]:
# MÃ©todo apply a funciÃ³n creada mÃ¡s arriba para que funciÃ³n estÃ© aplicando correctamente a columna 'spoken_languages'
df_credits["spoken_languages"] = df_credits["spoken_languages"].apply(cadena_dicc_objeto)

In [ ]:
# En esta columna se extrae el nombre de los idiomas
def dicc_name(languages):
    if languages is not None:
       if isinstance(languages, list):
              names = [spoken['name'] for spoken in languages]
              return names
    return None

df_credits['languages'] = df_credits['spoken_languages'].apply(dicc_name)

In [ ]:
# Creamoos una funciÃ³n  para unir los idiomas en una sola cadena seperados por coma, y comprobamos nueva columna
def join_spoken(languages_list):
    if languages_list is not None and len(languages_list) > 0:
        return ', '.join(languages_list)
    return None

df_credits['languages_name'] = df_credits['languages'].apply(join_spoken)

df_credits.head(1)

In [ ]:
# Comprobamos los nulos de 'revenue' y 'budget'
print('Nulos en revenue', df_credits.revenue.isna().sum())
print('Nulos en budget', df_credits.budget.isna().sum())

In [ ]:
# Sustituimos los nulos de 'revenue' y 'budget' en 0 y confirmamos. No serÃ­a necesario hacerlo con la columna 'budget' ya que no tiene valores nulos.
df_credits['revenue'].fillna(0, inplace = True)
df_credits['budget'].fillna(0, inplace = True)
print('Nulos en revenue', df_credits.revenue.isna().sum())
print('Nulos en budget', df_credits.budget.isna().sum())

In [ ]:
# TambiÃ©n se nos pide eliminar los valores nulos de la columna 'release_date'
df_credits1 = df_credits.dropna(subset=['release_date'])

In [ ]:
# Confirmo que se halla  eliminadoo los nulos
print('Nulos en release_-date', df_credits1.release_date.isna().sum())

In [ ]:
# La columna release_date me estaba dando problemas a la hora de hacer la conversiÃ³n  a datetime, entonces comprobÃ© varias cosas:
# con la funciÃ³n verifico si el valor es un entero y de ocho dÃ­gitos, asÃ­ puede asumir una fecha de formato YYYYMMDD
# luego intento convertir a datatime utilizando pd.to_datatime
# El valor que no se pueda convertir, se le asignarÃ¡ None

def clean_release_date(date_str):
    # Compruebo si el valor es un nÃºmero entero y tiene una longitud de 8 caracteres
    if isinstance(date_str, int) and len(str(date_str)) == 8:
        # Convierto el nÃºmero entero en una cadena de fecha en formato '%Y-%m-%d'
        date_str = str(date_str)[:4] + '-' + str(date_str)[4:6] + '-' + str(date_str)[6:]

    # Pruebo convertir a tipo datetime
    try:
        return pd.to_datetime(date_str)
    except:
        return None

df_credits1['release_date'] = df_credits1['release_date'].apply(clean_release_date)

In [ ]:
# Intento convertir nuevamente la columna a tipo datetime
df_credits1['release_date'] = pd.to_datetime(df_credits1['release_date'])

In [ ]:
# Al convertir la columna 'release_date, comprobamos nuevamente los nulos
print('Nulos en release_-date', df_credits1.release_date.isna().sum())

In [ ]:
# Eliminamos los nulos y confirmamos
df_credits1['release_date'].fillna(0, inplace = True)
print('Nulos en release_-date', df_credits1.release_date.isna().sum())

In [ ]:
# Convertir la columna 'release_date' a un tipo de datos de fecha y hora
df_credits1['release_date'] = pd.to_datetime(df_credits1['release_date'])
# Crear una nueva columna 'release_year' con el aÃ±o de la columna 'release_date'
df_credits1['release_year'] = df_credits1['release_date'].dt.year

# Mostrar el resultado
df_credits1.head(1)

In [ ]:
# Elimino los caracteres numÃ©ricos de la columnas budget, antes de convertirla a tipo float, que utilizarÃ© junto a revenue para crear la columna return

import re

def clean_budget_value(budget_str):
# Eliminar cualquier carÃ¡cter que no sea un dÃ­gito, punto decimal o coma
    cleaned_value = re.sub(r'[^0-9.,]', '', str(budget_str))

# Reemplazar la coma por el punto decimal (si es necesario)
    cleaned_value = cleaned_value.replace(',', '.')

# Convertir a tipo float
    try:
        return float(cleaned_value)
    except:
           return None

df_credits1['budget'] = df_credits1['budget'].apply(clean_budget_value)

In [ ]:
# Se nos pide calcular la columna 'return' y reemplazar los valores NaN con cero.
df_credits1['return'] = df_credits1['revenue'] / df_credits1['budget']
df_credits1['return'] = df_credits1['return'].fillna(0)

In [ ]:
df_credits1.head(1)

In [ ]:
# Elimino columnas no utilizadas
df_credits_fin = df_credits1.drop(columns = ['video','imdb_id','adult','original_title','poster_path','homepage','belongs_to_collection','genres',
                                            'production_companies','production_countries', 'spoken_languages','generos','productora','countries','languages'])
df_credits_fin.head(1)

In [ ]:
# Guardamos el dataframe modificado en un nuevo csv
df_credits_fin.to_csv('movies_dataset_final.csv', index = False)

In [ ]:
df_fin = pd.read_csv('movies_dataset_final.csv')

In [ ]:
df_fin.shape

In [ ]:
# Leermos el otro csv con pandas
data_credits2= pd.read_csv('credits.csv')
data_credits2.shape

In [ ]:
data_credits2.head(2)

In [ ]:
# Obtenemos mÃ¡s informaciÃ³n de los mismos
data_credits2.info()

In [ ]:
# Quitaremos los duplicados y lo ordenaremos por la columna crew
data_credits2[data_credits2.duplicated()].sort_values('crew')

In [ ]:
# Para desanidar datos de columna 'cast', debo usar una funciÃ³n del mÃ³dulo ast para convertir el diccionario cadena a objeto para poder trabajar
# con Ã©l.
import ast

# Usaremos la misma funciÃ³n que en el anterior dataset para la extracciÃ³n de los datos que necesitamos
def cadena_dicc_objeto(col_cast):
    if pd.isna(col_cast):
       return None
    else:
        return ast.literal_eval(col_cast) # funciÃ³n del mÃ³dulo ast"

In [ ]:
# MÃ©todo apply a funciÃ³n creada mÃ¡s arriba para que funciÃ³n estÃ© aplicando correctamente a columna 'cast'
data_credits2["cast"] = data_credits2["cast"].apply(cadena_dicc_objeto)

In [ ]:
# Nueva funciÃ³n para extraer el valor de 'name' de los registros de actores en la columna 'cast'. AquÃ­ ya aplicamos la uniÃ³n de los datos em cadena
# separados por coma directamente.
def extract_actors(row):
    actors = [actor['name'] for actor in row if 'name' in actor]
    return ', '.join(actors) if actors else None

data_credits2['actores'] = data_credits2['cast'].apply(extract_actors)

In [ ]:
# Comprobamos la extracciÃ³n de los nombres de actores
data_credits2.head(3)

In [ ]:
data_credits2['cast'].fillna(0, inplace = True)
print('Nulos en cast', data_credits2.cast.isna().sum())

In [ ]:
# Vamos a trabajar la columna crew, para ello importamos la librerÃ­a re
import re    # importamos esta librerÃ­a ya que la columna crew tiene muchas expresiones regulares

# Definir el patrÃ³n de la expresiÃ³n regular para extraer el nombre del director
pattern = r"'job':\s*'Director',\s*'name':\s*'([^']*)'"

# Aplicar la expresiÃ³n regular a cada valor de la columna 'crew' y guardar el resultado en una nueva columna 'Director'
data_credits2['Directores'] = data_credits2['crew'].apply(lambda x: re.search(pattern, x).group(1) if re.search(pattern, x) else '')

data_credits2.head(6)

In [ ]:
# Eliminamos la primera columna (col1), cast y crew
data_credits = data_credits2.drop(columns=['cast', 'crew'])

# Reordenar las columnas segÃºn tu preferencia\n",
data_credits = data_credits[['id', 'actores', 'Directores']]

In [ ]:
# Guardamos el nuevo dataset en un csv

data_credits.to_csv('credits_ultimo2.csv')

In [ ]:
data_credits_final2 = pd.read_csv('credits_ultimo2.csv')

In [ ]:
data_credits_final2.head(3)

In [ ]:
# Eliminar la columna "Unnamed: 0"
data_credits_final2 = data_credits_final2.drop("Unnamed: 0", axis=1)

data_credits_final2.head(3)

In [ ]:
# Hare la concatenaciÃ³n de los dos csv.
# Cargar los archivos CSV
df1 = pd.read_csv('movies_dataset_final.csv')
df2 = pd.read_csv('credits_ultimo2.csv')

In [ ]:
# Concatenar los dataframes
concatenated_df = pd.concat([df1, df2], axis=1)

In [ ]:
# Guardo el resultado en un nuevo csv
concatenated_df.to_csv('movies_credits_2.csv', index = False)

In [ ]:
df = pd.read_csv('movies_credits_2.csv')

In [ ]:
df.shape

In [ ]:
df.head(1)